$theme_color_0: #0E0B0B;
$theme_color_1: #FF3B30;
$theme_color_2: #FF5A36;
$theme_color_bg: shade($theme_color_0, 1.2);
$theme_color_fg: #ffffff;
$theme_color_tv_bg: $theme_color_0;
$theme_color_tv_fg: #ffffff;
$theme_color_tv_hobg: $theme_color_1;
$theme_color_tv_hofg: #ffffff;

/* two primary colors for mixing and one for highlighting */
@define-color theme_color_0 #{"" + $theme_color_0};
@define-color theme_color_1 #{"" + $theme_color_1};
@define-color theme_color_2 #{"" + $theme_color_2};
@define-color theme_color_bg #{"" + $theme_color_bg};

/* treeview normal */
@define-color theme_color_tv_bg #{"" + $theme_color_tv_bg};
@define-color theme_color_tv_fg #{"" + $theme_color_tv_fg};
/* treeview highlight */
@define-color theme_color_tv_hlbg @theme_color_2;
@define-color theme_color_tv_hlfg white;
/* treeview hover */
@define-color theme_color_tv_hobg #{"" + $theme_color_tv_hobg};
@define-color theme_color_tv_hofg #{"" + $theme_color_tv_hofg};
/* graph colors */
@define-color theme_color_graph_bg #1A1010;
@define-color theme_color_graph_fg #ffffff;
@define-color theme_color_graph_bar_bg #271713;
@define-color theme_color_graph_bar_fg #F2E8DE;
@define-color theme_color_graph_line_bg #8A8583;
@define-color theme_color_graph_line_fg #0E0B0B;
@define-color theme_color_graph_map_land #271713;
@define-color theme_color_graph_map_marker1 #FF5A36;
@define-color theme_color_graph_map_marker2 @theme_color_2;
@define-color theme_color_graph_map_water #F2E8DE;
@define-color theme_color_graph_pie_high #F2E8DE;
@define-color theme_color_graph_pie_low #271713;
